@{
    ViewBag.Title = "WelcomePage";
}

<title>Welcome to Farm Central</title>
<style>
    body {
        background-image: url('/Images/sebastian-gomez-CAA5XShS_No-unsplash.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
    }

    .control-label {
        color: white;
    }

    .btn {
        color: white;
        background-color: cornflowerblue;
    }
</style>
<h2><p style="color: white;"> <p style="font-size: 30px;">Welcome to Farm Central web store </h2>
<h1>Welcome to Farm Central</h1>
<p>
    Thank you for visiting our website.We are a group of local farmers have decided to work together to start a brick‐and‐mortar store. 
    We sell farm products such as milk, cheese, meat and vegitables.
</p>
<p>Please take a look around our website and let us know if there is anything that you may need.</p>



